@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


@font-face {
    font-family: 'Poppins'; /* Replace with your font's name */
    src: url('../fonts/Poppins-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
  font-family: 'Blimone'; /* Replace with your font's name */
  src: url('../fonts/Blimone-BoldInktrap.otf') format('woff2');
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}